.RightTable2
  %p.RightTable2__title 購入した商品
  .Tab
    %input.Tab__btn{checked: "checked",id:"all2",type:"radio",name:"tab_item2"}
    %label.Tab__title{for:"all2"} 取引中
    %input.Tab__btn{id:"programming2",type:"radio",name:"tab_item2"}
    %label.Tab__title{for:"programming2"} 過去の取引
    .TabContent{id:"all_content2"}
      %ul.TabMenu
        %li.TabMenu__list
          .TabMenu__item
            レディース、Tシャツ（S）
          %i.TabMenu__icon
            = icon("fas","angle-right")
    .TabContent{id:"programming_content2"}
      %ul.TabMenu
        %li.TabMenu__list
          .TabMenu__item
            レディース、Tシャツ（S）
          %i.TabMenu__icon
            = icon("fas", "angle-right")
