- if user_signed_in?
  %p
    ログインしています
  =link_to "ログアウト", destroy_user_session_path, method: :delete
- else
  %p
    ログインしていません
    %li
      =link_to "新規会員登録", new_user_registration_path, method: :get
    %li
      =link_to "ログイン", new_user_session_path, method: :get

-# = render partial: 'items/appBanner'
= render partial: 'items/footer'
-# = render partial: 'items/display'