.AppBanner 
  .Inner
    %h2.Inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.Inner__text 
      今すぐ無料ダウンロード！
    .Inner__icon
      = link_to "#" do
        = image_tag 'app-store-logo.svg', size:'180x53'
      = link_to "#" do
        = image_tag 'google-play-logo.svg', size:'180x53'
