.CreditHeader  {
  width: 100%;
  height: 130px;
  background-color: #ffffff;
  text-align: center;
  &__Logo {
    .Icon {
      margin: 35px auto;
    }
  }
}

.BreadCrumbs {
  height: 40px;
  width: 100%;
  padding: 0 50px;
  border-top: 1px solid #eeeeee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  background-color: #ffffff;
  ul {
    height: 40px;
    width: 1155px;
    margin: 0 auto;
    display: flex;
    line-height: 40px;
    li {
      margin-left: 5px;
      font-size: 14px;
      .credit-info {
        font-weight: 600;
      }
      a {
        text-decoration: none;
        margin: 5px;
        color: #4e5863;
        i {
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
        }
      }
    }
  }
}

.CreditContents {
  width: 100%;
  background-color: whitesmoke;
  padding: 20px 0;
  .TitleContent {
    width: 700px;
    height: 80px;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #f3f3f3;
    &__title {
      padding: 25px 0;
      font-weight: bold;
      font-size: 22px;
    }
  }
  .CreditContainer {
    width: 700px;
    height: 700px;
    background-color: #ffffff;
    margin: 0 auto;
    &__Form {
      width: 350px;
      height: 150px;
      background-color: #ffffff;
      margin: 0 auto;
      padding: 10px 0;
      label {
        font-weight: bold;
        margin-bottom: 10px;
      }
      span {
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 12px;
        background-color: red;
        color: #ffffff;
      }
      input {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: inherit;
        font-size: inherit;
        height: 48px;
        width: 350px;
        margin: 10px 0;
        padding: 0 16px;
        width: inherit;
        outline: none;
      }
      .CardList {
        display: flex;
        margin-top: 5px;
      }
    }
    .CreditExpire {
      width: 350px;
      height: 120px;
      background-color: #ffffff;
      margin: 0 auto;
      padding: 10px 0;
      label {
        font-weight: bold;
        margin-bottom: 10px;
      }
      span {
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 12px;
        background-color: red;
        color: #ffffff;
      }
      input {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: inherit;
        font-size: inherit;
        height: 48px;
        width: 350px;
        margin: 10px 0;
        padding: 0 16px;
        width: inherit;
        
      }
      &__inputData {
        margin: 16px 0;
        display: flex;
        text-align: center;
        select {
          text-align: center;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          color: #807c7c;
          font-size: 16px;
          height: 48px;
          line-height: 1;
          margin: 0;
          outline: none;
          padding: 0 56px 0 16px;
          width: 100%;
        }
        label {
          margin: 10px 10px ;
          text-align: center;
        }
      }
    }
    .CreditSecurity {
      width: 350px;
      height: 100px;
      background-color: #ffffff;
      margin: 0 auto;
      padding: 10px 0;
      label {
        font-weight: bold;
        margin-bottom: 10px;
      }
      span {
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 12px;
        background-color: red;
        color: #ffffff;
      }
      input {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: inherit;
        font-size: inherit;
        height: 48px;
        width: 350px;
        margin: 10px 0;
        padding: 0 16px;
        width: inherit;
        outline: none;
      }
    }
    .CreditAdd {
      width: 350px;
      height: 100px;
      margin: 0 auto;
      padding: 10px 0;
      &__Info {
        width: 350px;
        margin: 0 auto;
        color: #5ab4bd;
        text-align: right;
        span {
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #5ab4bd;
          color: #ffffff;
          line-height: 14px;
          font-size: 12px;
          text-align: center;
          
        }
        p {
          color: #5ab4bd;
          cursor: pointer;
          display: inline;
        }
      }
      // &__TokenInfo {
      //   display: none; 
      //   // position: absolute;
      //   left: 0px;
      //   right: 0px;
      //   top: 28px;
      //   z-index: 1;
      //   padding: 16px;
      //   border-radius: 6px;
      //   background: rgb(239, 239, 239);
      //   color: rgb(51, 51, 51);
      //   line-height: 1.5;
      //   text-align: center;
      //   transition: all 0.3s ease-out 0s;
      //   &:before {
      //     display: block;
      //     top: -8px;
      //     right: 32px;
      //     border-width: 0px 8px 8px;
      //     // -webkit-transform: translate(-50%, -50%);
      //     transform: translate(-50%, -50%);
      //     display: block;
      //     content: "";
      //     position: absolute;
      //     width: 0px;
      //     height: 0px;
      //     border-style: solid;
      //   }
      //   img {
      //     margin-top: 8px;
      //     width: 100%;
      //   }
      // }
      
      .BtnStyle {
        width: 100%;
        background-color: #ea352d;
        color: #fff;
        margin-top: 24px;
        font-size: 17px;
        min-height: 48px;
        padding: 0 24px;
        font-weight: bold;
        border-radius: 4px;
        outline: none;
        border: 1px solid #ccc;
      }
      a {
        margin-top: 24px;
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color:  #5ab4bd;
      }
    }
  }
}
