// 全体３分割
.Market {
  width: 100%;
  background-color: #f8f8f8;
}

.MarketField{
  display: flex;
  flex-direction: column;
  &__header{
    align-items: center;
    justify-content: center;
    height: 128px;
    display: flex;
  }
  &__body{
    font-size: 14px;
    margin: 0px auto;
    max-width: 700px;
    width: 100%;
    background-color: #ffffff;
  }
  &__footer{
    margin-top: auto;
    padding: 40px 0px 41px;
    text-align: center;
  }
}

// 必須・任意タグ
@mixin necessary($bgColor: #ff0211) {
  margin-left: 8px;
  font-size: 12px;
  padding: 0px 4px;
  color: #ffffff;
  border-radius: 2px;
  line-height: 1.4em;
  font-weight: 600;
  background-color: $bgColor;
}

.req {
  @include necessary();
}
.opt {
  @include necessary(#bfbfbf);
}

// ブロック間のライン
hr {
  border-top-width: 1px;
  border-top-color: #efefef;
  border-left: 0 solid #efefef;
  border-bottom: 0 solid #efefef;
  border-right: 0 solid #efefef;
  border-top-style: solid;
  margin: 0;
}

// 太字テキスト
@mixin textBold() {
  font-weight: 600;
  line-height: 1.4em;
}
// リンクホバー時
@mixin linkHo($color: #0095ee) {
  text-decoration: none;
  color: $color;
  &:hover {
    text-decoration: underline;
    opacity: 0.5;
  }
}

// オークション実行ボタン
@mixin marketBtn($wid: 360px) {
  width: $wid;
  background-color: #3CCACE;
  color: #ffffff;
  font-size: 17px;
  min-height: 48px;
  padding: 0 24px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: .3s;
  &:hover {
    opacity: 0.8;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  }
}

// リンク設定
.Link__blue {
  @include linkHo();
}

// フォームのブロック分け
.FormBlock {
  padding: 40px;
  &__group {
    color: #888888;
    margin-bottom: 30px;
    @include textBold();
  }
  &__content {
    &--info {
      display: flex;
      align-items: center;
    }
    &--info2 {
      margin: 16px 0 0;
    }
    &--title {
      @include textBold();
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    height: 80px;
    &--yen {
      margin-right: 8px;
      line-height: 80px;
    }
  }
  &__calc {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    line-height: 80px;
    align-items: center;
  }
  &__btn {
    margin: 0px auto 32px;
    text-align: center;
    &--market {
      @include marketBtn();
    }
    &--return {
      display: block;
      margin-top: 24px;
      @include linkHo();
    }
  }
  &__rules {
    margin: 0 40px 64px;
    font-size: 11px;
  }
}

// image投稿用CSS
.ImageBox {
  &__show {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
  }
  &__preview {
    margin:5px 10px;
  }
  &__remove {
    color: #0095ee;
    font-size: 12px;
  }
  &__inputLabel {
    height: 120px;
    &--visible {
      text-align: center;
      background-color: rgb(245, 245, 245);
      border: 1px dashed rgb(204, 204, 204);
      height: 80px;
      padding: 30px 0;
      height: 100px;
      width: 100px;
      margin: 5px 10px;
    }
    &--icon {
      height: 24px;
      width: 24px;
      font-size: 20px;
    }
    &--hwToUp {
        line-height: 1.4em;
        font-size: 12px;
        width: 100%;
        color: #888888;
    }
  }
  &__hidden {
    display: none;
  }
}

#previews {
  display: flex;
  flex-wrap: wrap;
}

// フォーム要素
@mixin textFieldShape($pad: 0 16px) {
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding: $pad;
}

@mixin textFieldLarge($wid: 620px) {
  width: $wid;
  height: 48px;
  margin: 16px 0 32px;
}
.FormBox {
  &__field {
    @include textFieldShape();
    @include textFieldLarge();
  }
  &__area {
    @include textFieldShape(13px 16px);
    height: 154px;
    margin-top: 16px;
    &--textCounter {
      margin-top: 10px;
      text-align: right;
      color: #888888;
      font-size: 12px;
      line-height: 1.4em;
    }
  }
  &__select {
    @include textFieldShape();
    @include textFieldLarge();
    color: #222222;
  }
  &__short {
    @include textFieldShape();
    @include textFieldLarge(285px);
    text-align: right;
  }
}

// footerの内部
.Policies {
  font-size: 12px;
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    list-style: none;
  }
}
.Policy {
  &__list {
    margin: 0 8px;
    @include linkHo(#333333);
  }
}

.Logo__market {
  filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
  vertical-align: bottom;
}

.sm {
  font-size: 12px;
  font-weight: lighter;
}

// 購入確認ページ

.ItemContainer {
  margin: 0 auto;
  padding: 32px 16px;
  max-width: 375px;
  border-top: 2px solid #f8f8f8;
  h2 {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
  }
  &__contents {
    display: flex;
    justify-content: space-between;
  }
  &__imageField {
    height: 80px;
    width: 80px;
    &--image {
      height: 80px;
      width: 80px;
      border-radius: 4px;
      overflow: hidden;
      margin: 0;
    }
    &--picture {
      width: 100%;
      height: 100%;
    }
  }
  &__itemInfo {
    margin-left: 16px;
    width: 100%;
  }
  &__itemName {
    line-height: 1.4em;
    margin-bottom: 8px;
  }
  &__itemPrice {
    text-align: right;
    &--label {
      font-size: 12px;
    }
    &--price {
      font-size: 15px;
      font-weight: 600;
      margin-left: 8px;
    }
  }
  &__totalPrice {
    &--label {
      @include textBold();
      font-size: 18px;
      line-height: 24px;
      vertical-align: baseline;
    }
    &--price {
      font-size: 24px;
      vertical-align: baseline;
      line-height: 24px;
      font-weight: 600;
    }
  }
  &__label {
    @include textBold();
  }
  &__payInfo {
    margin-top: 16px;
    p {
      line-height: 1.4em;
    }
    &--card {
      margin-top: 8px;
      max-height: 32px;
      max-width: 48px;
    }
  }
  &__btn {
    text-align: center;
    margin: 0 auto;
    &--buy {
      @include marketBtn(100%);
    }
  }
}
