// _header.child.scss hover設定

@mixin hover($color,$opacity){
  &:hover{
    opacity: $opacity;
    border-bottom: 1px solid $color;
  }
}
@mixin hover__color($color, $background-color, $opacity){
  &:hover{
    color: $color;
    background-color: $background-color;
    opacity: $opacity;
  }
}
