.AccountMain {
  background-color: #f8f8f8;
}

@mixin marketBtn($wid: 360px) {
  width: $wid;
  background-color: #3CCACE;
  color: #ffffff;
  font-size: 17px;
  min-height: 48px;
  padding: 0 24px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: .3s;
  &:hover {
    opacity: 0.8;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  }
}

.actions {
  margin: 32px auto;
  text-align: center;
  .UserButton {
    @include marketBtn();
  }
}

.AccountPage {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.AccountPage__title {
  width: 50%;
  font-size: 14px;
  font-weight: 200;
  background-color: #ddd;

  h2 {
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 40px;
    &:after {
      content: "";
      display: block;
      width: 60px;
      margin-top: 5px;
      border-bottom: 1px solid #38aef0;
    }
  }
}

.AccountPage__form {
  text-align: center;
  h2 {
    margin-bottom: 26px;
    font-size: 24px;
    font-weight: 600;
  }
}

.FormField {
  margin: 20px 0;
  &__label--normal {
    text-align: left;
    margin: 14px 0 5px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      margin-bottom: 10px;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
  &__input--name {
    display: flex;
    input {
      box-sizing: border-box;
      border: 1px solid #cccccc;
      width: calc(50% - 6px);
      padding: 10px;
      margin: 10px;
      border-radius: 4px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
  &__select--date {
    display: flex;
    align-items: center;
    select {
      border: 1px solid #cccccc;
      border-radius: 4px;
      font-size: 14px;
      padding: 10px;
      margin: 10px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
