.UserInfo {
  height: 150px;
  width: 700px;
  background-color: #f3f3f3;
  width: 100%;
  &__Content {
    a {
      text-decoration: none;
      color: #4e5863;
      figure {
        text-align: center;
        margin: 0 auto;
        height: 100px;
        line-height: 150px
      }
      .user-img {
        border-radius: 10px;
      }
      p {
        text-align: center;
        height: 40px;
        line-height: 20px;
        padding-bottom: 10px;
      }
    }
  }
}

.tabs {
  width: 700px;
  height: 70px;
  
  .tab_item {
    width: calc(100%/2);
    height: 70px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 70px;
    font-size: 20px;
    text-align: center;
    color: #333333;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.1s ease;
    cursor: pointer;
    .tab_item:hover {
      opacity: 0.75;
    }
  }

  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    height: 400px;
    display: none;
    clear: both;
    overflow: hidden;
    .todo-lists {
      width: 700px;
      height: 80px;
      li {
        font-size: 14px;
        line-height: 80px;
        display: flex;
        border-bottom: 1px solid black;
        .list-item {
          width: 650px;
          color: #4e5863;
          padding-left: 10px;
        }
        i {
          line-height: 80px;
          width: 50px;
          font-size: 20px;
          color: #4e5863;
        }
      }
    }
  }
}
/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}
/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content {
  display: block;
}
/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #ffffff;
}

